body {
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    opacity: 0.8;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    cursor: pointer;
    background-color: #ccc;
}

.myclass tr:hover {
    cursor: pointer;
    background-color: #ccc;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}


/* used to create a container (square ) */

.container {
    padding: 16px;
}

.nav-border {
    border-radius: 30px;
}


/* Canvas to create the centered square for chess board */

canvas {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0.5em;
}