* {
    box-sizing: border-box;
    transition: all .3s ease;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    opacity: 0.8;
}

.first-box {
    width: 25%;
    float: left;
    height: 50%;
    margin: 10px;
    margin-right: 10px;
    border: 1px solid black;
}

.first-box p {
    padding-left: 100px;
    padding-top: 0;
    border: 1px solid black;
}

.second-box {
    width: 50%;
    height: 100%;
    float: right;
    margin: 10px;
    border: 1px solid black;
}

.second-box p {
    padding-right: 100px;
    padding-top: 0;
    border: 1px solid black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    cursor: pointer;
    background-color: #ccc;
}

.myclass tr:hover {
    cursor: pointer;
    background-color: #ccc;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}


/* used to create a container (square ) */

.container {
    padding: 16px;
}

.nav-border {
    border-radius: 30px;
}


/* Canvas to create the centered square for chess board */

canvas {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0.5em;
}


/*chat css */

main {
    width: calc(100% - 20px);
    max-width: 500px;
    margin: 0 auto;
    font-family: Helvetica, Arial, Sans, sans-serif;
}

h1,
.user-count {
    margin: 0;
    padding: 6px 0;
    font-size: 25px;
    border: 1px solid black;
}

.user-count {
    float: right;
}

.chat {
    content: '';
    width: 100%;
    height: calc(100vh - 165px);
    background: lightgrey;
    padding: 5px 10px;
    border: 1px solid black;
}

.chat p {
    margin: 0 0 5px 0;
}

input,
button {
    width: 100%;
    font: inherit;
    background: lightgray;
    border: none;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid black;
}

#send-button:hover {
    cursor: pointer;
    background: #ddd;
}

@media all and (min-width: 500px) {
    .chat {
        height: calc(50vh - 100px);
    }
    input {
        width: calc(100% - 160px);
    }
    button {
        float: right;
        width: 150px;
    }
}